---
import Landing from "../layouts/Landing.astro";
import UserHandler from "../layouts/UserHandler.astro";
import Decks from "../components/deck/Decks.astro";
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request)
---


{!session ? (
	<Landing>
		<div class="flex items-center justify-center h-nonav flex flex-col gap-0 gap-5">
			<h1 class="text-4xl lg:text-6xl px-5 lg:p-0 font-black text-base-content text-center">Memorize vocabularies on the go!</h1>
			<h2 class="text-lg lg:text-3xl px-5 lg:p-0 font-bold text-base-content text-center">Kotoboss, an online Anki deck compatible flashcard app.</h2>
			<a class="btn btn-soft btn-primary btn-md lg:btn-lg login">Try Kotoboss</a>
		</div>
	</Landing>
) : (
	<UserHandler>
		<Decks />
	</UserHandler>
)}