---
export const prerender = false;
import { db, Deck } from "astro:db"
import { getSession } from "auth-astro/server"
import { actions } from "astro:actions"
const session = await getSession(Astro.request)

---

<dialog id={`modal_deck_create`} class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <a class="font-bold text-lg">Create Deck</a>
    <form class="create-deck-form" action={actions.decks.createDeck} method="POST">
      <fieldset class="fieldset w-full">
        <input value={session?.user?.id} type="hidden" name="user" />
        <label class="label" for="name">Name</label>
        <input type="text" autocomplete="off" class="input w-full" placeholder="Type here" name="name" maxlength="40" required />
        <input type="submit" value="Create" class="btn btn-primary" />
      </fieldset>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>