---
import { getSession } from "auth-astro/server";
import Default from "./Default.astro";
import Create from "../components/deck/Create.astro";

const session = await getSession(Astro.request);
---

{session ? (
  <Default>
    <slot />
    <Create />
  </Default>
) : (
  <div>
    <script>window.location.replace("/")</script>
  </div>
)}